<h1>Listing proyectos</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Horas previstas</th>
	  <th>Horas acumuladas</th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.id %></td>
		<td><%= proyecto.nombre %></td>
		<td><%= proyecto.horas %></td>
		<td><%= proyecto.entradas.map {|e| e.tiempo}.sum %></td>
		<%ent = proyecto.entradas.last%>
		<td><%= ent %></td>
		<td><%= link_to 'Show', proyecto %></td>
        <td><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
        <td><%= link_to 'Destroy', proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyecto', new_proyecto_path %>
