

<body>
 <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-default">
				<div class="panel-body table-responsive">
		 
					<h1>Proyectos vigentes</h1>
					<table class="table table-bordered table-condensed f11 table-nowrap table-striped table-hover">
						
					  <thead>
						<tr>
						  <th width="2%" class="">ID</th>
						  <th width="15%" class="">Nombre Proyecto</th>
						  <th width="5%" class="">Hs prev.</th>
						  <th width="5%" class="">Hs acum.</th>
						  <th width="auto">Responsable</th>
						  <th width="40%" class="">Último comentario</th>
						  <th width="2%" class=""></th>
						  <th>Usuario</th>
						  <th>Timestamp</th>
						</tr>
					  </thead>

					  <tbody>
						<% @proyectos.each do |proyecto| %>
						<% parts = @participantes.find_by(proyecto_id: proyecto, rol_id: 2)%>
						
						  <% responsable = @personas.find_by_id(parts.persona_id) unless parts.nil? %>
						  <% ent= proyecto.entradas.last %>
						  <tr>
							<td><%= proyecto.id %></td>
							<td><%= link_to proyecto.nombre, proyecto %></td>
							<td><%= proyecto.horas %></td>
							<td><%= proyecto.entradas.map {|e| !e.tiempo.nil? ? e.tiempo : 0}.sum %></td>
							<td><%= !responsable.nil? ? responsable.nombre : (link_to 'Participantes', proyecto) %></td>
							<td><%= !ent.nil? ? ent.comentario : (link_to "Ingresar comentarios", new_proyecto_entrada_path(proyecto))%></td>
							<td><%=link_to '', new_proyecto_entrada_path(proyecto), :class => "glyphicon glyphicon-plus"%></td>
							<td><%= !ent.nil? ? @personas.find(ent.persona_id).name : ""%></td>
							<td><%= !ent.nil? ? ent.created_at : "" %></td>
							
						  </tr>
						<% end %>
					  </tbody>
					</table>

					<br>

					<%= link_to ' + Nuevo Proyecto', new_proyecto_path, :class => "btn btn-success align-center"  %>
				</div>			
			</div>				
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<hr>
				<h3>Últimas Entradas<%=@tiempo_tot%></h3>
				<div id="entradas">
					<% @entradas.order('created_at DESC').take(3).each do |ent| %>
					<blockquote>
						<%=  !ent.nil? ? (render ent) : nil %>
						<footer> 
							Proyecto: <cite title="Source Project"> <%=  @proyectos.find(ent.proyecto_id).nombre %></cite>
						</footer>
					</blockquote>
					<% end %>
				</div>
								
				<hr>
				

		</div>
		<div class="col-md-4 column">
		<hr>
		
		</div>
		</div>
	
	<div class="row clearfix">
		<div class="col-md-8 column">
			<ol>
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Consectetur adipiscing elit
				</li>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ol>
			
		</div>
		<div class="col-md-4 column">
			<dl>
				<dt>
					Description lists
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
				<dt>
					Euismod
				</dt>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
				<dd>
					Donec id elit non mi porta gravida at eget metus.
				</dd>
				<dt>
					Malesuada porta
				</dt>
				<dd>
					Etiam porta sem malesuada magna mollis euismod.
				</dd>
				<dt>
					Felis euismod semper eget lacinia
				</dt>
				<dd>
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</dd>
			</dl>
		</div>
	</div>
</div>
</body>



























//////////---------------------------------


