<h1>Listing proyectos</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Hs previstas</th>
	  <th>Hs acumuladas</th>
	  <th>Responsable</th>
	  <th>Último comentario</th>
	  <th>Usuario</th>
	  <th>Timestamp</th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
	<% parts = @participantes.find_by(proyecto_id: proyecto, rol_id: 2)%>
	
      <% responsable = @personas.find_by_id(parts.persona_id) unless parts.nil? %>
	  
	  <tr>
        <td><%= proyecto.id %></td>
		<td><%= link_to proyecto.nombre, proyecto %></td>
		<td><%= proyecto.horas %></td>
		<td><%= proyecto.entradas.map {|e| e.tiempo}.sum %></td>
		<td><%= !responsable.nil? ? responsable.nombre : (link_to 'Participantes', proyecto) %></td>
		<% ent= proyecto.entradas.last %>
		<td><%= !ent.nil? ? ent.comentario : (link_to "Ingresar comentarios", edit_proyecto_path(proyecto))%> <%=link_to '(+)', new_proyecto_entrada_path(proyecto)%></td>
		<td><%= !ent.nil? ? @personas.find(ent.persona_id).nombre : ""%></td>
		<td><%= !ent.nil? ? ent.created_at : "" %></td>
		<td><%= link_to 'Editar', proyecto %></td>
        <td><%= link_to 'Renombrar Proyecto', edit_proyecto_path(proyecto) %></td>
        <td><%= link_to 'Eliminar', proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td><%= link_to 'Nueva Entrada', new_proyecto_entrada_path(proyecto) %></td>
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyecto', new_proyecto_path %>
