
<%= render @proyecto %>
<hr>
<%= render :file => 'entradas/new' %>
<h1>Tiempo Total: <%=@tiempo_tot%></h1>
<hr>
<h3>Entradas</h3>
<div id="entradas">
<%= render @proyecto.entradas.order('created_at DESC') %>
</div>





<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
