<%= form_for(@fecha) do |f| %>
  <% if @fecha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fecha.errors.count, "error") %> prohibited this fecha from being saved:</h2>

      <ul>
      <% @fecha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <% proyectos = Proyecto.find(:all, :order => :nombre) %>
<p>Proyecto A: 
  <%= f.collection_select :proyecto_id, proyectos, :id, :nombre, :autofocus => true  %>
</p>
  
   <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_field :fecha%>
  </div>

   <% hitos = Hito.find(:all, :order => :nombre) %>
<p>Proyecto A: 
  <%= f.collection_select :hito_id, hitos, :id, :nombre%>
</p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
