<h1>Listing tipo_relacions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_relacions.each do |tipo_relacion| %>
      <tr>
        <td><%= tipo_relacion.id %></td>
		<td><%= tipo_relacion.nombre %></td>
		<td><%= tipo_relacion.descripcion %></td>
		<td><%= link_to 'Show', tipo_relacion %></td>
        <td><%= link_to 'Edit', edit_tipo_relacion_path(tipo_relacion) %></td>
        <td><%= link_to 'Destroy', tipo_relacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo relacion', new_tipo_relacion_path %>
