<%= div_for entrada do %>
<h5><hr>
<% persona = Persona.find(entrada.persona_id)%>
<% tipo = TipoEntrada.find(entrada.tipo_entrada_id)%>

<strong><%= persona.nombre %> </strong>&lt;<%= entrada.created_at %>&gt; <%= tipo.nombre %>

<span class='actions'>
<%= link_to 'Delete', proyecto_entrada_path(:proyecto_id => @proyecto,
:id => entrada), confirm: 'Are you sure?', method: :delete %>
</span>
</h5>
<%= entrada.comentario %>
<p>Tiempo: <%= entrada.tiempo %></p>

<% end %>