<%= div_for entrada do %>
<h5>
<% !entrada.nil? ? persona = User.find_by_id(entrada.persona_id) : "" %>
<% tipo = TipoEntrada.find(entrada.tipo_entrada_id)%>

<strong><%= !persona.nil? ? persona.name : "nombre persona?"%> </strong>&lt;<%= entrada.created_at %>&gt; <%= tipo.nombre %>

<span class='actions'>
<%= !@proyecto.nil? ? (link_to 'Delete', proyecto_entrada_path(:proyecto_id => @proyecto,
:id => entrada), confirm: 'Are you sure?', method: :delete) : "" %>
</span>
</h5>
<%= entrada.comentario %>

<p>Tiempo: <%= entrada.tiempo %></p>

<% end %>