<%= form_for([@entrada.proyecto, @entrada]) do |f| %>

   <% proyectos = Proyecto.find(:all, :order => :nombre) %>
<p>Proyecto A: 
  <%= f.collection_select :proyecto_id, proyectos, :id, :nombre, :autofocus => true  %>
</p>
  
  <% personas = User.find(:all, :order => :nombre) %>
<p>Persona: 
  <%#= f.collection_select :persona_id, personas, :id, :name%>
  <%#= params[:entrada] = {:persona_id => current_user.uid %>
  <%= f.hidden_field_tag(:persona_id, current_user.uid) %>
  </p>
  
  <% entradas_tipos = TipoEntrada.find(:all, :order => :nombre) %>
<p>Tipo de entrada: 
  <%= f.collection_select :tipo_entrada_id, entradas_tipos, :id, :nombre%>
</p>
  
   <div class="field">
    <%= f.label :fecha_creacion %><br>
    <%= f.date_field :fecha_creacion, :value => Date.today.to_s(:db)  %>
  </div>

  <div class="field">
    <%= f.label :comentario %><br>
    <%= f.text_area :comentario %>
  </div>
  
  <div class="field">
    <%= f.label :tiempo %><br>
    <%= f.number_field :tiempo%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
