 <% proyectos = Proyecto.all %>
  <% personas = User.all %>
  <% t_entrada = TipoEntrada.all %>

<h1>Entradas para Proyecto: "<%= proyectos.find(@entradas[1].proyecto_id).nombre %>"</h1>

<table>
  <thead>
    <tr>
      <th>ID Entrada</th>
      <th>Tipo</th>
      <th>Fecha y hora</th>
	   <th>Usuario</th>
		<th>Comentario</th>
		<th>Tiempo</th>
    </tr>
  </thead>

 
	
  <tbody>
    <% @entradas.each do |entrada| %>
      <tr>
		<td><%= entrada.id %></td>
		<td><%= t_entrada.find(entrada.tipo_entrada_id).nombre %></td>
		<td><%= entrada.fecha_creacion %></td>
		<td><%= personas.find(entrada.persona_id).name %></td>
		
		<td><%= entrada.comentario %></td>
		<td><%= entrada.tiempo %></td>
        <td><%= link_to 'Show', [entrada.proyecto, entrada ]%></td>
        <td><%= link_to 'Edit', edit_proyecto_entrada_path(entrada.proyecto, entrada) %></td>
        <td><%= link_to 'Destroy', [entrada.proyecto, entrada], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrada', new_proyecto_entrada_path %>
