<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-6 column">
				
				<h1>Nueva Entrada para Proyecto: <%= @proyecto.nombre%></h1>
				
			</div>
			<div class="col-md-4 column">
				<h3>
					h3. Lorem ipsum dolor sit amet.
				</h3>
			</div>
			<div class="col-md-2 column">
				<h3>
					h3. Lorem ipsum dolor sit amet.
				</h3><img alt="140x140" src="http://lorempixel.com/140/140/">
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				
			
				<%= form_for([@proyecto, @proyecto.entradas.new]) do |f| %>


					  <% personas = Persona.find(:all, :order => :nombre) %>
					<p>Persona: 
					  <%= f.collection_select :persona_id, personas, :id, :nombre%>
					</p>
					  
					  <% entradas_tipos = TipoEntrada.find(:all, :order => :nombre) %>
					<p>Tipo de entrada: 
					  <%= f.collection_select :tipo_entrada_id, entradas_tipos, :id, :nombre%>
					</p>
					  
					   <div class="field">
						<%= f.label :fecha_creacion %><br>
						<%= f.date_field :fecha_creacion, :default => "1010-01-01" %>
					  </div>

					  <div class="field">
						<%= f.label :comentario %><br>
						<%= f.text_area :comentario, :cols => 40, :rows => 10 %>
					  </div>
					  
					  <div class="field">
						<%= f.label :tiempo %><br>
						<%= f.number_field :tiempo%>
					  </div>
					  
					  <div class="actions">
						<%= f.submit 'Crear nueva entrada',:class => "btn btn-success align-center"%>
					  </div>
				<% end %>

				<%= link_to 'Volver a Proyecto', @proyecto %>
			</div>
		</div>
	</div>
</body>
	
















