<h1>Listing relacions</h1>

<table>
  <thead>
    <tr>
      <th><p>ID_rel</th>
      <th><p>Proyecto A</th>
      <th><p>tipo relacion</th>
	  <th><p>Proyecto B</th>
      <th><p>Comentario</th>
      
    </tr>
  </thead>

 <% proyectos = Proyecto.all %>
 
 <% tiporel = TipoRelacion.all %>
  
  <tbody>
    <% @relacions.each do |relacion| %>
      <tr>
			<td><%= relacion.id %></td>
			<td><%= proyectos.find(relacion.proyectoA_id).nombre %></td>
			<td><%= tiporel.find(relacion.tipo_relacion_id).nombre%></td>
			<td><%= proyectos.find(relacion.proyectoB_id).nombre %></td>
			<td><%= tiporel.find(relacion.tipo_relacion_id).descripcion %></td>
			
        <td><%= link_to 'Show', relacion %></td>
        <td><%= link_to 'Edit', edit_relacion_path(relacion) %></td>
        <td><%= link_to 'Destroy', relacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relacion', new_relacion_path %>
