<h1>Listing equipos</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% personas = Persona.all %>
  <tbody>
    <% @equipos.each do |equipo| %>
      <tr>
		<td><%= personas.find(equipo.responsable_id).nombre %></td>
		<td><%= equipo.nombre %></td>
		<td><%= equipo.descripcion %></td>
		
        <td><%= link_to 'Show', equipo %></td>
        <td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
        <td><%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipo', new_equipo_path %>
