<h1>Listing personas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <%estados = Estado.all%>
  <%equipos = Equipo.all%>
  <%personas= User.all%>
  
  <tbody>
    <% @personas.each do |persona| %>
      <tr>
		<td><%= persona.name %></td>
		<td><%= persona.email %></td>
		<td><%= estados.find(persona.estado_id).nombre %></td>
		<td><%= equipos.find(persona.equipo_id).nombre  %></td>
		<td><%= personas.find(persona.jefe_id).name  %></td>
        <td><%= link_to 'Show', persona %></td>
        <td><%= link_to 'Edit', edit_persona_path(persona) %></td>
        <td><%= link_to 'Destroy', persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persona', new_persona_path %>
