<%= form_for(@participante) do |f| %>
  <% if @participante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participante.errors.count, "error") %> prohibited this participante from being saved:</h2>

      <ul>
      <% @participante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% personas = Persona.find(:all, :order => :nombre) %>
<p>Persona: 
  <%= f.collection_select :persona_id, personas, :id, :nombre %>
</p>
 
 <% proyectos = Proyecto.find(:all, :order => :nombre) %>
<p>Proyecto:
  <%= f.collection_select :proyecto_id, proyectos, :id, :nombre %>
</p>
  
 <% roles = Rol.find(:all, :order => :nombre) %>
<p>Rol en este proyecto:
  <%= f.collection_select :rol_id, roles, :id, :nombre %>
</p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
