<!DOCTYPE html>
<html>
<head>
  <title>Proyectos RCE</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "bootstrap"%>
  <%= stylesheet_link_tag    "bootstrap.min"%>
  
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css"> -->

  <meta charset="utf-8">
  <title>Bootstrap 3, from LayoutIt!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="/assets/stylesheets/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="/assets/stylesheets/responsive.less" type="text/css" /-->
	<!--script src="/assets/javascripts/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="/assets/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="/assets/javascripts/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/assets/alemana.png">
<!--   <link rel="stylesheet" href="/assets/font-awesome.css"> -->
  
	
	<%= stylesheet_link_tag    "bootstrap.min" %>
	<%= javascript_include_tag "bootstrap.min" %>
	<%= javascript_include_tag "scripts" %>
	<%= javascript_include_tag "jquery.min" %>
	<%= stylesheet_link_tag    "style" %>
	
</head>
 
  <body class=""> 
  <!--<![endif]-->
    
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-reorder"></span>
          </button>
          <a class="navbar-brand" href="/proyectos">Proyectos de la Unidad de Registros Clínicos Electrónicos - CAS</a>
        </div>
        
        <div class="hidden-xs">
                <ul class="nav navbar-nav pull-right">
                    
                    <li class="hidden-phone"><a href="#" role="button">Settings</a></li>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
								<% if current_user %>
								Signed in as <strong><%= current_user.name %></strong>! 
								<% else %>
								<strong>No está logueado</strong>! 
								<%#= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
								<% end %>
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1"><%= link_to "Sign out", signout_path, id: "sign_out" %></a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="/auth/google_oauth2">Login</a></li>
                           
                        </ul>
                    </li>
                    
                </ul>
        </div><!--/.navbar-collapse -->
    </div>
    
<% if current_user %>

    <div class="navbar-collapse collapse">
        <div id="main-menu">
            

            <div id="phone-navigation" class="visible-xs">
                <ul id="dashboard-menu" class="nav nav-list">
                    <li class=" "> <span class="caption"></span></a></li>
										<li class=" "> <span class="caption"></span></a></li>
                    <li class="active "><a rel="tooltip" data-placement="right" data-original-title="Dashboard" href="/proyectos"><i class="icon-home"></i> <span class="caption">Dashboard CAS</span></a></li>
                  
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Reports" href="/reunion"><i class="icon-group"></i> <span class="caption">Reunión de Unidad</span></a></li>
                  
<!--                     <li class=" "><a rel="tooltip" data-placement="right" data-original-title="UI Features" href="#"><i class="icon-briefcase"></i> <span class="caption">-no implementado-</span></a></li>
                  
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Pricing" href="#"><i class="icon-magic"></i> <span class="caption">-no implementado-</span></a></li>
                    
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Media" href="#"><i class="icon-film"></i> <span class="caption">-no implementado-</span></a></li>
                    
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Blog" href="#"><i class="icon-beaker"></i> <span class="caption">-no implementado-</span></a></li>
                     
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Blog Entry" href="#"><i class="icon-coffee"></i> <span class="caption">-no implementado-</span></a></li>
                     
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Help" href="#"><i class="icon-question-sign"></i> <span class="caption">-no implementado-</span></a></li>
                    
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Faq" href="#"><i class="icon-book"></i> <span class="caption">-no implementado-</span></a></li>
                    
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Calendar" href="#"><i class="icon-calendar"></i> <span class="caption">-no implementado-</span></a></li>
                    
                    
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Forms" href="#"><i class="icon-tasks"></i> <span class="caption">-no implementado-</span></a></li>
                    
                    
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Tables" href="#"><i class="icon-table"></i> <span class="caption">-no implementado-</span></a></li>
                   
                    <li class=" theme-mobile-hack hidden-xs"><a rel="tooltip" data-placement="right" data-original-title="Mobile" href="mobile.html"><i class="#"></i> <span class="caption">-no implementado-</span></a></li>
                    
                    <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Icons" href="icons.html"><i class="icon-heart"></i> <span class="#">-no implementado-</span></a></li> -->
                    
                    
                </ul>
            </div>

<!--                    <ul class="nav nav-tabs hidden-xs">
        <li ><a href="reports.html" ><i class="icon-bar-chart"></i> <span>Reports</span></a></li>
                <li ><a href="components.html" ><i class="icon-cogs"></i> <span>Components</span></a></li>
                <li ><a href="pricing.html"><i class="icon-magic"></i> <span>Pricing</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="sign-in.html"><span>Sign-in Page</span></a></li>
                        <li><a href="sign-up.html"><span>Sign-up Page</span></a></li>
                        <li><a href="reset-password.html"><span>Forgot Password Page</span></a></li>
                    </ul>
                </li>
 </ul>
-->           
        </div>
    </div>
    <br><br><br>
    
    <div id="sidebar-nav" class="hidden-xs">
        
        <ul id="dashboard-menu" class="nav nav-list">
            <!-- <li class=" "> <span class="caption"> <br><br><br><br></span></li>
						<li class=" "><span class="caption"> </span></li> -->
            <li class="active "><a rel="tooltip" data-placement="right" data-original-title="Dashboard" href="/proyectos"><i class="icon-home"></i> <span class="caption">Dashboard CAS</span></a></li>
            
						<li class=" "><a rel="tooltip" data-placement="right" data-original-title="Icons" href="/reunion"><i class="icon-group"></i> <span class="caption">Reunion de Unidad</span></a></li>
           <!--  <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Reports" href="#"><i class="icon-bar-chart"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="UI Features" href="#"><i class="icon-briefcase"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Pricing" href="#"><i class="icon-magic"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Media" href="#"><i class="icon-film"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Blog" href="#"><i class="icon-beaker"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Blog Entry" href="#"><i class="icon-coffee"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Help" href="#"><i class="icon-question-sign"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Faq" href="#"><i class="icon-book"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Calendar" href="#"><i class="icon-calendar"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Forms" href="#"><i class="icon-tasks"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            <li class=" "><a rel="tooltip" data-placement="right" data-original-title="Tables" href="#"><i class="icon-table"></i> <span class="caption">-no implementado-</span></a></li>
            
            
            
            <li class=" theme-mobile-hack"><a rel="tooltip" data-placement="right" data-original-title="Mobile" href="#"><i class="icon-comment-alt"></i> <span class="caption">-no implementado-</span></a></li> -->
            
           
            
            
        </ul>
    </div>
    
    <div class="content">
        
		<div class="row">
			<div class="col-sm-12 main-content pull-left text-left">

            <h2><%= link_to "Volver a listado", proyectos_path %>
       
            </h2>
           
			<div>
			<%= yield %>
			</div>
			
			</div>

   
		</div>

        
        <footer>
            <hr>
            <p class="pull-right">Design by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            <p>&copy; 2015 <a href="#">Cristian N. Menajovsky</a></p>
        </footer>
        
    </div>
    
    <script src="lib/bootstrap3/dist/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip({animation:false});
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
 

 <%else%>
<div class="row">
    <div class="col-sm-8 main-content">			
		<div>
			<br><br><br><br><h3>Debe loguearse para ver los proyectos</h3>
		</div>
			
	</div>
</div>
<%end%>
  </body>
 
 

</html>





  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 



